[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservices-ZeroNG/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Nest-Microservices-ZeroNG/products-microservice.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/Nest-Microservices-ZeroNG/orders-microservice.git
[submodule "payments-ms"]
	path = payments-ms
	url = https://github.com/Nest-Microservices-ZeroNG/payments-microservice
[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/Nest-Microservices-ZeroNG/auth-ms.git
